<style>
    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.3s ease;
    }

    /* Popup styles */
    .popup {
        position: absolute;
        z-index: 1;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        display: none;
        min-width: 120px;
        right: 0;
        position: absolute;
        width: 185px;
    }

    .popup a {
        padding: 5px;
        display: block;
        text-align: left;
        font-size: 14px;
    }

    .popup a:hover {
        background-color: #f1f1f1;
    }
</style>

<script>
    // Fonction pour afficher ou masquer le popup
    function togglePopup() {
        var popup = document.getElementById("popup");
        if (popup.style.display === "block") {
            popup.style.display = "none";
        } else {
            popup.style.display = "block";
        }
    }

    // Navbar active
    const select = document.querySelectorAll('.nav-items');
    function activeLink() {
        select.forEach((item) => {
            item.classList.remove('active');
            this.classList.add('active');
        })
    }
    select.forEach((item) => item.addEventListener('click', activeLink));

</script>
<script>
    const slogans = [
        "la réponse à toutes vos envies !",
        "votre satisfaction garantie !",
        "votre plaisir sur mesure !",
        "l'excellence à chaque bouffée !",
        "l'essayer c'est l'adopter !",
        "votre moment de détente absolu !",
        "la qualité à portée de main !",
        "le choix des connaisseurs !",
        "le goût de la liberté !",
        "votre allié de tous les instants !",
        "la réponse à toutes vos envies !",
        "votre satisfaction garantie !",
        "votre plaisir sur mesure !",
        "l'excellence à chaque bouffée !",
        "l'essayer c'est l'adopter !",
        "votre moment de détente absolu !",
        "la qualité à portée de main !",
        "le choix des connaisseurs !",
        "le goût de la liberté !",
        "votre allié de tous les instants !",
        "Rencontrez des personnes intéressantes !",
        "Trouvez l'amour en un clic !",
        "Découvrez qui vous correspond vraiment !",
        "Rejoignez notre communauté de célibataires !",
        "Faites des rencontres en toute simplicité !",
        "Le site de rencontre qui vous ressemble !",
        "Connectez-vous à l'amour !",
        "La plateforme pour trouver votre moitié !",
        "Rencontrez des gens près de chez vous !",
        "L'endroit où les cœurs se rencontrent !",
        "Une aventure amoureuse vous attend !",
        "Trouvez votre âme sœur aujourd'hui !",
        "Rencontrez des célibataires passionnés !",
        "Rencontrez des gens qui partagent vos intérêts !",
        "Donnez une chance à l'amour !",
        "Rencontrez des gens intéressants autour de vous !",
        "Rejoignez notre site pour rencontrer votre futur amour !",
        "L'amour est à portée de clic !",
        "Découvrez des personnes qui vous ressemblent !",
        "Laissez-vous tenter par une belle rencontre !",
        "Trouvez la personne idéale pour vous !",
        "Rencontrez des célibataires de qualité !",
        "L'amour n'est plus loin !",
        "Trouvez la personne qui vous convient !",
        "Rejoignez notre site pour trouver l'amour !",
        "Trouvez votre âme sœur parmi des milliers de célibataires !",
        "Rejoignez une communauté de célibataires qui cherchent l'amour !",
        "Faites des rencontres qui vont changer votre vie !",
        "Trouvez l'amour là où vous ne l'attendez pas !",
        "Rencontrez des personnes qui partagent vos valeurs !",
        "L'amour vous attend, inscrivez-vous maintenant !",
        "Rencontrez des gens qui ont les mêmes aspirations que vous !",
        "Rencontrez des personnes authentiques !",
        "Donnez une chance à l'amour en vous inscrivant sur notre site !",
        "L'amour est un clic loin de vous !",
        "Découvrez des personnes avec qui vous pouvez construire une relation sérieuse !",
        "Rejoignez une communauté de célibataires motivés pour trouver l'amour !",
        "Rencontrez des personnes qui vous feront vibrer !",
        "L'amour est à portée de main, inscrivez-vous maintenant !",
        "Rencontrez des célibataires qui cherchent la même chose que vous !",
        "Trouvez l'amour en toute simplicité avec notre site de rencontre !",
        "Donnez une chance à l'amour en rejoignant notre communauté de célibataires !"
    ];

    function changeSlogan() {
        const sloganElement = document.getElementById("slogan");
        const randomIndex = Math.floor(Math.random() * slogans.length);
        sloganElement.textContent = "Spliff-Splouf, " + slogans[randomIndex];
    }

    // Mettez à jour le slogan toutes les 5 minutes
    setInterval(changeSlogan, 1 * 60 * 1000);
</script>

<header class="bg-blue-600">
    <nav class="container mx-auto px-6 py-4">
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-white text-3xl font-bold">Spliff-Splouf</h1>
                <p class="text-white text-sm" id="slogan">Spliff-Splouf, exactement ce que je cherche!</p>
            </div>
            <div class="hidden sm:flex">
                <a href="/"
                    class="<%= title === 'home' ? 'bg-white text-blue-500 font-bold rounded-md mr-5 px-4 py-3' : 'nav-items text-white px-4 py-3 rounded-md mr-4 nav-link' %>">Accueil</a>
                <a href="/docs"
                    class="<%= title === 'docs' ? 'bg-white text-blue-500 font-bold rounded-md px-4 py-3' : 'nav-items text-white px-4 py-3 rounded-md mr-4 nav-link' %>">Documentation</a>
                <a href="/subs"
                    class="<%= title === 'subs' ? 'bg-white text-blue-500 font-bold rounded-md px-4 py-3' : 'nav-items text-white px-4 py-3 rounded-md mr-4 nav-link' %>">Abonnement</a>
                <a href="https://discord.gg/GxjKgRvA8e"
                    class="text-white px-4 py-3 rounded-md mr-4 nav-link">Contact</a>
            </div>
            <% if(user) { %>
                <button onclick="togglePopup()"
                    class="flex flex-row space-x-2 items-center relative bg-blue-800 rounded-md">
                    <div class="p-2 flex flex-row space-x-2 items-center">
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?width=160&height=160/" alt=""
                            class="rounded-full w-10 h-10">
                        <span id="username" class="font-bold text-white">
                            <%= user.username %>#<%= user.discriminator %>
                        </span>
                    </div>
                    <div class="popup mt-48 w-44" id="popup">
                        <a href="/profile">Mon profil</a>
                        <a href="/settings">Mes paramètres</a>
                        <a href="/logout" class="text-red-500">Déconnexion</a>
                    </div>
                </button>
                <% } else { %>
                    <div class="hidden"></div>
                    <% } %>
        </div>
    </nav>
</header>